<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaung.mapper.FrameProperityMapper">


    <resultMap id="FrameResultMap" type="com.kaung.pogo.FrameProperity">
        <id column="id" jdbcType="BIGINT"  property="id"/>
        <result column="dataset_id" jdbcType="BIGINT"  property="dataset_id"/>
        <result column="classification_id" jdbcType="BIGINT"  property="classification_id"/>
        <result column="scene_id" jdbcType="BIGINT"  property="scene_id"/>
        <result column="create_person" jdbcType="VARCHAR"  property="create_person"/>
        <result column="create_time" jdbcType="VARCHAR"  property="create_time"/>
        <result column="path" jdbcType="VARCHAR"  property="path"/>
        <result column="target_id" jdbcType="BIGINT"  property="target_id"/>
        <result column="name" jdbcType="VARCHAR"  property="name"/>
        <result column="scene_name" jdbcType="VARCHAR"  property="scene_name"/>
        <result column="class_name" jdbcType="VARCHAR"  property="class_name"/>
    </resultMap>


    <insert id="addFrameProperity" parameterType="com.kaung.pogo.FrameProperity">
        insert into t_frame_properity (dataset_id, classification_id, scene_id,create_person,create_time,path,target_id) values (#{dataset_id},#{classification_id},#{scene_id},#{create_person},#{create_time},#{path},#{target_id})
    </insert>

    <delete id="deleteFrameProperityById" parameterType="int">
        delete from t_frame_properity where id = #{id};
    </delete>

    <update id="updateFrameProperity" parameterType="com.kaung.pogo.FrameProperity">
        update t_frame_properity set dataset_id=#{dataset_id} ,classification_id=#{classification_id},scene_id=#{scene_id},create_person=#{create_person},create_time=#{create_time},path=#{path},target_id=#{target_id}  where id =#{id}
    </update>


    <select id="queryFrameProperityById" resultMap="FrameResultMap">
        select *from t_frame_properity where id=#{id}
    </select>

    <select id="queryAllFrameProperity" resultMap="FrameResultMap">
        select * from t_frame_properity
    </select>

    <select id="queryFrameProperityByName" resultMap="FrameResultMap">
        select * from t_frame_properity where dataset_id=#{dataset_id}
    </select>

   <!-- <select id="queryGlobalFrame" resultMap="FrameResultMap" parameterType="com.kaung.vo.ProperityQueryInfo">
        select * from t_frame_properity f where 1=1
        <if test="sceneList.length >0 and sceneList !=null ">
            and f.scene_id in
            <foreach collection="sceneList" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="classcificationList.length>0 and classcificationList !=null ">
            and f.classification_id in
            <foreach collection="classcificationList" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="datasetList.length>0 and datasetList !=null ">
            and f.dataset_id in
            <foreach collection="datasetList" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
    </select>-->

    <select id="queryGlobalFrame" resultMap="FrameResultMap" parameterType="com.kaung.vo.ProperityQueryInfo">
        SELECT f.id,
        f.dataset_id,
        f.create_person,
        f.create_time,
        f.path,
        f.target_id,
        fc.class_id_id,
        fc.frame_id cfid,
        fs.frame_id sfid,
        fs.scene_id_id,
        s.scene_name,
        s.id sid,
        c.class_name,
        c.id cid,
        d.id did,
        d.`name`,
        GROUP_CONCAT(DISTINCT c.class_name) ClassContent,
        GROUP_CONCAT(DISTINCT s.scene_name) SceneContent
        from t_frame_properity f,t_frame_to_scene fs,t_frame_to_classcification fc,t_classcification c,t_scene s,t_cam_datasets d
        WHERE f.id=fc.frame_id
        and fc.class_id_id=c.id
        and f.id=fs.frame_id
        and fs.scene_id_id=s.id
        and f.dataset_id = d.id
        <if test="sceneList !=null ">
            and s.id in
            <foreach collection="sceneList" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="classcificationList !=null ">
            and c.id in
            <foreach collection="classcificationList" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="datasetList !=null ">
            and d.id in
            <foreach collection="datasetList" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        GROUP BY f.id
    </select>


</mapper>
