<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- config params as the following -->
            <property name="reasonable " value="true"/>
            <property name="dialect" value="mysql" />
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="UserMapper.xml"/>
        <mapper resource="ClasscificationMapper.xml"/>
        <mapper resource="DatasetsMapper.xml"/>
        <mapper resource="DatasetToClasscificationMapper.xml"/>
        <mapper resource="DatasetToSceneMapper.xml"/>
        <mapper resource="FrameLabelMapper.xml"/>
        <mapper resource="FrameProperityMapper.xml"/>
        <mapper resource="RecursiveMapper.xml"/>
        <mapper resource="SceneMapper.xml"/>
        <mapper resource="TypeMapper.xml"/>
        <mapper resource="TagMapper.xml"/>
        <mapper resource="AuditMapper.xml"/>
        <mapper resource="FrameToClassMapper.xml"/>
        <mapper resource="FrameToSceneMapper.xml"/>
        <mapper resource="TagToFrameMapper.xml"/>
        <mapper resource="FrameAuditMapper.xml"/>
        <mapper resource="LabelAuditMapper.xml"/>
        <mapper resource="SceneCount.xml"/>
        <mapper resource="ClassCount.xml"/>
    </mappers>

</configuration>
