# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ICS\2d\尚硅谷\尚硅谷韩顺平老师数据结构分享\PlatFormInterfaceTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
